@font-face {
    font-family: 'Glowdex';
    src: url(font/Glowdex.ttf) format(truetype);
}

@font-face {
    font-family: 'cursive';
    src: url(font/cursive.ttf) format(truetype);
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link{
    color: rgb(255, 196, 0);
    font-display: none;
    font-size: large;
    pointer-events: none;
}

.container{
    color: rgb(255, 196, 0);
    text-align: center;
    align-items: center;
    position: flex; 
    padding: 30px;
}

span{
    display: inline-block;
    position: relative;
    word-spacing: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    cursor: pointer;
    transition: all 0.3s ease;
    
    
}

span:hover{
    background-color: grey  ;
    border-radius: 10px;

}

span::first-letter{
    color: aqua;
    font-size: 60px;
    font-family: 'Glowdex';
    text-decoration: none;
    
}


.easy{
     left: -75.50px;
}

.system{
    left: -40px;

}

span + 
.btn1{
    font-size: larger;
    font-family: 'poppins';
}

.btn1{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color:  rgb(255, 196, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1:hover{
    background-color: #1e40af;
}



footer{
    padding-top: 25vh;
    text-align: center;
    color:  rgb(255, 196, 0);
}

.project-ad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    margin-right: 1.5rem;
    justify-content: center;
    text-align: center;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
    font-style: oblique;
    
}

.ad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
    margin-right: 1.5rem;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
    font-style: oblique;
    font-size: 150px;
    
}

/* P{
    display: block;
    text-align: center;
    padding-bottom: 10vh;
    color: rgb(255, 196, 0);
    font-style: oblique;
    font-size: 100px;
}
 */
.picture{
    display: flex;
    position: absolute;
    justify-content: center;
    padding-top: 200px;
    margin-left: 200vh;
    max-width: 100%;
    max-height: none;
    border: none; 
}


@media screen and (max-width: 4535px){

    /* .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: -0rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 200px;
        
    } */

    .btn1{
        padding: 1rem 5rem;
        font-size: 1rem;
        color: #fff;
        background-color:  rgb(255, 196, 0);
        border-radius: 5px;
        position: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }


}

@media screen and (max-width: 2560px){ 

    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 100px;
        margin-left: 25vh;
        max-width: 70%;
        max-height: -200vh;
        border: none;
        
    }

    P{
        display: block;
        text-align: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 150px;
    
    }
    

  
    
}

@media screen and (max-width: 1440px){ 
    
    .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        padding-bottom: 0vh;
        margin-right: -0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 130px;
        
    }

    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 150px;
        
    }

    
    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50px;
        margin-left: 30vh;
        max-width: 70%;
        max-height: none;
        border: none;
        
    }

    P{
        display: block;
        text-align: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 100px;
    
    }

    span{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 45px;
        
    }

    span::first-letter{
        color: aqua;
    }
    
}

@media screen and (max-width: 1024px){

    .project-ad{
        display: block;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 200px;
        
    }

    .btn1{
        padding: 1rem 2rem;
        font-size: 1rem;
        color: #fff;
        background-color:  rgb(255, 196, 0);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    /* h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 45px;
        row-gap: 10px;
        font-style: oblique;
        font: optional;
        text-align: justify;
        padding: 40px;
        margin: 20px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease;
    } */

    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 10px;
        margin-left: 18vh;
        max-width: 74%;
        max-height: none;
        border: none;


        
       
    
    }
    

}



@media screen and (max-width: 768px){

    .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: -1rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 130px;
        
    }

   /*  h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        row-gap: 10px;
        font-style: oblique;
        font: optional;
        text-align: justify;
        padding: 40px;
        margin: 20px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease;
    } */

    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 50px;
        margin-left: 23vh;
        max-width:70%;
        max-height: none;
        border: none;

    }

    P{
        display: block;
        text-align: center;
        align-content: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 75px;
    
    }


    

}

@media screen and (max-width: 425px){

    .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;     
        font-size: 70px;
        
    }

    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 100px;

}
    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 50px;
        margin-left: 7vh;
        max-width: 80%;
        max-height: none;
        border: none;

    }

    P{
        display: block;
        text-align: center;
        align-content: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 50px;
    
    }

    

}


@media screen and (max-width: 375px){

   /*  .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;     
        font-size: 50px;
        
    } */

    /* .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        
        
    }
 */
    
    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 100px;
        margin-left: 2vh;
        max-width: 75%;
        max-height: none;
        border: none;

    }

    .container-municipality p{

        font-size: xx-large;
    }

}

@media screen and (max-width: 375px){

    .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-size: large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;     
        font-size: 50px;
        
    }


    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 60px;
        margin-left: 3.5vh;
        max-width: 73%;
        max-height: none;
        border: none;

    }

    P{
        display: block;
        text-align: center;
        align-content: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 40px;
    
    }

}
