@font-face {
    font-family: 'Glowdex';
    src: url(font/Glowdex.ttf) format(truetype);
}

@font-face {
    font-family: 'cursive';
    src: url(font/cursive.ttf) format(truetype);
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

.all{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}
.container{
    color: rgb(255, 196, 0);
    text-align: center;
    align-items: center;
    position: flex; 
    padding: 30px;
}

span{
    display: inline-block;
    position: relative;
    word-spacing: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
    
    
}

span:hover{
    background-color: grey  ;
    border-radius: 10px;

}

span::first-letter{
    color: aqua;
    font-size: 60px;
    font-family: 'Glowdex';
    text-decoration: none;
    
}


.D{
    font-size: 40px;
}
.R{
    font-size: 40px;
}
.E{
    font-size: 40px;
    margin-left: -18vh;
}
.A{
    font-size: 40px;
}
.M{
    font-size: 40px;
}
.S{
    font-size: 40px;
    margin-left: -10vh;
    justify-content: space-between;
}

.container-municipality{

    justify-content: center;
}

.davao{
    text-align: center;
    font-size: 60px;
    color: rgb(255, 196, 0);
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -0rem;
    margin-right: -5rem;
    justify-content: center;
    text-align: center;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
   /*  font-style: oblique; */
   font-size: 90px;

    
}

.dreams{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
    margin-right: -2.5rem;
    justify-content: center;
    text-align: center;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
    /* font-style: oblique; */
    font-size: 120px;

    
}

.pictures{
    display: flex;
    position: absolute;
    justify-content: center;
    padding-top: 20px;
    margin-left: 50vh;
    margin: none;
    padding: none;
    max-width: 50%;
    max-height: none;
    border: none; 
}

.maptext{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-left: 68vh;  
    padding-top: 20vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.maptext:hover{
   color: rgb(255, 196, 0);
   margin-left: 68vh; 
   padding-top: 20vh;
   font-size: 30px;
}

.monkayo{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-left: 105vh;  
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.monkayo:hover{
   color: rgb(255, 196, 0);
   margin-left: 105vh; 
   font-size: 30px;
}

.montevista{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 90vh;  
    padding-top: 20vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.montevista:hover{
   color: rgb(255, 196, 0);
   margin-left: 90vh; 
   font-size: 20px;
}

.Compostela{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 115vh;  
    padding-top: -4vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.Compostela:hover{
   color: rgb(255, 196, 0);
   margin-left: 115vh; 
   font-size: 20px;
}


.nabunturan{
    display: inline-block;
    position: relative;
    font-size: 18px;
    margin-left: 91vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.nabunturan:hover{
   color: rgb(255, 196, 0);
   margin-left: 91vh; 
   font-size: 18px;
}

.new-bataan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 120vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.new-bataan:hover{
   color: rgb(255, 196, 0);
   margin-left: 120vh; 
   padding-top: 10vh;
   font-size: 20px;
}

.mawab{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 86vh;  
    padding-top: -4vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.mawab:hover{
   color: rgb(255, 196, 0);
   margin-left: 86vh; 
   font-size: 20px;
}

.maco{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 86vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.maco:hover{
   color: rgb(255, 196, 0);
   margin-left: 86vh; 
   padding-top: 10vh;
   font-size: 20px;
}

.maragusan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 120vh;  
    padding-top: 9vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.maragusan:hover{
   color: rgb(255, 196, 0);
   margin-left: 120vh; 
   padding-top: 9vh;
   font-size: 20px;
}

.mabini{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 88vh;  
    padding-top: 2vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.mabini:hover{
   color: rgb(255, 196, 0);
   margin-left: 88vh; 
   font-size: 20px;
}

.pantukan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 105vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
    text-decoration: none;
    color: black;
}

.pantukan:hover{
   color: rgb(255, 196, 0);
   margin-left: 105vh; 
   font-size: 20px;
}


