@font-face {
    font-family: 'Glowdex';
    src: url(font/Glowdex.ttf) format(truetype);
}

@font-face {
    font-family: 'cursive';
    src: url(font/cursive.ttf) format(truetype);
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}
.container{
    color: rgb(255, 196, 0);
    text-align: center;
    align-items: center;
    position: flex; 
    padding: 30px;
}

span{
    display: inline-block;
    position: relative;
    word-spacing: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
    
    
}

span:hover{
    background-color: grey  ;
    border-radius: 10px;

}

span::first-letter{
    color: aqua;
    font-size: 60px;
    font-family: 'Glowdex';
    text-decoration: none;
    
}


.D{
    font-size: 40px;
}
.R{
    font-size: 40px;
}
.E{
    font-size: 40px;
    margin-left: 2vh;
}
.A{
    font-size: 40px;
}
.M{
    font-size: 40px;
}
.S{
    font-size: 40px;
    margin-left: -0vh;
    justify-content: space-between;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -0rem;
    margin-right: -5rem;
    justify-content: center;
    text-align: center;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
   /*  font-style: oblique; */
   font-size: 90px;

    
}

.dreams{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
    margin-right: 1.5rem;
    justify-content: center;
    text-align: center;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
    /* font-style: oblique; */
    font-size: 130px;

    
}

.davao{
    font-size: 100px;
}

.pictures{
    display: flex;
    position: absolute;
    justify-content: center;
    padding-top: 20px;
    margin-left: 50vh;
    max-width: 50%;
    max-height: none;
    border: none; 
}

.maptext{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-left: 68vh;  
    padding-top: 20vh; 
    transition: color 0.3s, font-size 0.3;
}

.maptext:hover{
   color: rgb(255, 196, 0);
   margin-left: 68vh; 
   padding-top: 20vh;
   font-size: 40px;
}

.monkayo{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-left: 105vh;  
    padding-top:1vh; 
    transition: color 0.3s, font-size 0.3;
}

.monkayo:hover{
   color: rgb(255, 196, 0);
   margin-left: 105vh; 
   padding-top: 1vh;
   font-size: 35px;
}

.montevista{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 92vh;  
    padding-top: 20vh; 
    transition: color 0.3s, font-size 0.3;
}

.montevista:hover{
   color: rgb(255, 196, 0);
   margin-left: 92vh; 
   padding-top: 20vh;
   font-size: 21px;
}

.Compostela{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 120vh;  
    padding-top: -4vh; 
    transition: color 0.3s, font-size 0.3;
}

.Compostela:hover{
   color: rgb(255, 196, 0);
   margin-left: 120vh; 
   padding-top: -4vh;
   font-size: 21px;
}


.nabunturan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 93vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
}

.nabunturan:hover{
   color: rgb(255, 196, 0);
   margin-left: 93vh; 
   padding-top: 10vh;
   font-size: 21px;
}

.new-bataan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 125vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
}

.new-bataan:hover{
   color: rgb(255, 196, 0);
   margin-left: 125vh; 
   padding-top: 10vh;
   font-size: 21px;
}

.mawab{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 86vh;  
    padding-top: -2vh; 
    transition: color 0.3s, font-size 0.3;
}

.mawab:hover{
   color: rgb(255, 196, 0);
   margin-left: 86vh; 
   padding-top: -2vh;
   font-size: 21px;
}

.maco{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 86vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
}

.maco:hover{
   color: rgb(255, 196, 0);
   margin-left: 86vh; 
   padding-top: 10vh;
   font-size: 21px;
}

.maragusan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 125vh;  
    padding-top: 9vh; 
    transition: color 0.3s, font-size 0.3;
}

.maragusan:hover{
   color: rgb(255, 196, 0);
   margin-left: 125vh; 
   padding-top: 9vh;
   font-size: 21px;
}

.mabini{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 88vh;  
    padding-top: 5vh; 
    transition: color 0.3s, font-size 0.3;
}

.mabini:hover{
   color: rgb(255, 196, 0);
   margin-left: 88vh; 
   padding-top: 5vh;
   font-size: 21px;
}

.pantukan{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 110vh;  
    padding-top: 10vh; 
    transition: color 0.3s, font-size 0.3;
}

.pantukan:hover{
   color: rgb(255, 196, 0);
   margin-left: 110vh; 
   padding-top: 10vh;
   font-size: 21px;
}


 @media screen and (max-width: 2560px){ 

    .project-ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: -0rem;
        margin-right: 5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0); 
        font-style: oblique; 
        font-size: 150; 
        
    } 
    
    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
       /*  font-style: oblique; */
        font-size: 200px;
        
    }

    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 100px;
        margin-left: 25vh;
        max-width: 70%;
        max-height: -200vh;
        border: none;
        
    }

    P{
        display: block;
        text-align: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 150px;
    
    }
    
    span{
        display: inline-block;
        position: relative;
        word-spacing: 10%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: smaller;
        cursor: pointer;
        transition: all 0.3s ease;
        
        
    }
    
    span:hover{
        background-color: grey  ;
        border-radius: 10px;
    
    }
    
    span::first-letter{
        color: aqua;
        font-size: 60px;
        font-family: 'Glowdex';
        text-decoration: none;
        
    }
    
    
    .E{
         left: -75.50px;
    }
    
    .S{
        left: -40px;
    
    
}

@media screen and (max-width: 1440px){ 
    
     .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0rem;
        padding-bottom: 0vh;
        margin-right: -5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        /* font-style: oblique; */
        font-size: 110px;
        transition: 2s;
        
    }

    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
       /*  font-style: oblique; */
        font-size: 150px;
        transition: 2s;
        
    }

    .all{
        text-decoration: none;
    }

    .E{
        left: -75.50px;
   }
   
   .S{
       left: -40px;
   
   }

    
    .picture{
        display: flex;
        position: absolute;
        z-index: -1;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50px;
        margin-left: 30vh;
        max-width: 70%;
        max-height: none;
        border: none;
        
    }

    P{
        display: block;
        text-align: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 100px;
    
    }

    span{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 45px;
        
    }

    span::first-letter{
        color: aqua;
    }

    
}

@media screen and (max-width: 1024.63px){

     .project-ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: -0rem;
        margin-right: -5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
       /*  font-style: oblique; */
        font-size: 90px;
        
    }
    
    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
       /*  font-style: oblique; */
        font-size: 100px;
        
    }

    .all{
        text-decoration: none;
    }

    .btn1{
        padding: 1rem 2rem;
        font-size: 1rem;
        color: #fff;
        background-color:  rgb(255, 196, 0);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 45px;
        row-gap: 10px;
        font-style: oblique;
        font: optional;
        text-align: justify;
        padding: 40px;
        margin: 20px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease;
    } 

    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 10px;
        margin-left: 18vh;
        max-width: 74%;
        max-height: none;
        border: none;


        
       
    
    }

    
    

}



@media screen and (max-width: 768px){

    .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: -1rem;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
      /*   font-style: oblique; */
        font-size: 130px;
        
    }

     h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        row-gap: 10px;
       /*  font-style: oblique; */
        font: optional;
        text-align: justify;
        padding: 40px;
        margin: 20px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease;
    } 

    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 50px;
        margin-left: 23vh;
        max-width:70%;
        max-height: none;
        border: none;

    }

    P{
        display: block;
        text-align: center;
        align-content: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 75px;
    
    }

    .all{
        text-decoration: none;
    }


    

}

@media screen and (max-width: 425px){

    .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
     /*    font-style: oblique;   */   
        font-size: 70px;
        
    }

    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
      /*   font-style: oblique; */
        font-size: 100px;

}
    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 50px;
        margin-left: 7vh;
        max-width: 80%;
        max-height: none;
        border: none;

    }

    P{
        display: block;
        text-align: center;
        align-content: center;
        color: rgb(255, 196, 0);
        font-style: oblique;
        font-size: 50px;
    
    }

    .all{
        text-decoration: none;
    }

    

}


@media screen and (max-width: 375px){

     .project-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
      /*   font-style: oblique;   */   
        font-size: 50px;
        
    } 

     .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
        
        
    }
 
    
    .picture{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 100px;
        margin-left: 2vh;
        max-width: 75%;
        max-height: none;
        border: none;

    }

    .container-municipality p{

        font-size: xx-large;
    }

    .all{
        text-decoration: none;
    }

}

 }