@font-face {
    font-family: 'Glowdex';
    src: url(font/glowdex/Glowdex.ttf) format(truetype);
}

@font-face {
    font-family: 'cursive';
    src: url(font/cursive.ttf) format(truetype);
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link{
    color: rgb(255, 196, 0);
    font-display: none;
    font-size: large;
    pointer-events: none;
}

.container{
    text-align: center;
    position: relative;
    margin-bottom: none;
    padding-top: -20px;
    border: none;
    border: 10px;
    border-radius: 5%;
    
}

.btn1{
    font-size: larger;
    font-family: 'poppins';
}

.btn1{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color:  rgb(255, 196, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1:hover{
    background-color: #1e40af;
}



footer{
    padding-top: 25vh;
    text-align: center;
    color:  rgb(255, 196, 0);
}

.solido-ad{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15rem;
    margin-right: 43rem;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: 'Glowdex';
    color: rgb(255, 196, 0);
    font-style: oblique;
    font-size: 140px;
    
}


@media screen and (min-width: 1200px){

    .solido-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: -5rem;
        margin-right: -3rem;
        justify-content: center;
        text-align: center;
        font-size: 130px;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;
       
        
    }

    footer{
        display: block;
        padding-top: 15vh;
        margin: auto;
        text-align: center;
        align-items: center;
        font-size: 15px;
        color:  rgb(255, 196, 0);
    }

    .btn1{
        
        padding: 1rem 2rem;
        margin: 5rem;
        font-size: 1rem;
        color: #fff;
        background-color:  rgb(255, 196, 0);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }


}

@media (min-width: 992px) and (max-width: 1199px){

    .solido-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;     
        font-size: 120px;
        
    }

    footer{
        display: block;
        padding-top: 25vh;
        margin: auto;
        text-align: center;
        align-items: center;
        font-size: 15px;
        color:  rgb(255, 196, 0);
    }

}

@media (min-width: 768px) and (max-width: 991px){

    .solido-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: -2rem;
        justify-content: center;
        text-align: center;
        font-size: large;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;     
        font-size: 120px;
        
    }

    footer{
        display: block;
        padding-top: 25vh;
        margin: auto;
        text-align: center;
        align-items: center;
        font-size: 14px;
        color:  rgb(255, 196, 0);
    }

    .btn1{
        
        padding: 1rem 2rem;
        margin: 5rem;
        font-size: 1rem;
        color: #fff;
        background-color:  rgb(255, 196, 0);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }



}

@media (max-width: 767px){

    .solido-ad{
        display: block;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;
        margin-right: 0rem;
        justify-content: center;
        text-align: center;
        font-family: 'Glowdex';
        color: rgb(255, 196, 0);
        font-style: oblique;     
        font-size: 80px;
        
    }

    footer{
        display: block;
        padding-top: 25vh;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color:  rgb(255, 196, 0);
    }

}