*{
    padding: 0%;
    margin: 0%;
    outline: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;

}

#header{
    position: absolute;
    right: 35rem;
    text-decoration: none;
    
    font-size: xx-large;
    color: rgb(255, 196, 0);
    
}

#image{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    max-height: 400px;
    max-width: 2000px;
   
   
    

}

.laakpict{
    
    border: peachpuff;
    
   
}

a{
    text-decoration: none;
}

@media screen and (max-width: 1024px) {

    #header{

        position: absolute;
        right: 300px;
    }

    .laakpict{

        height: 360px;
    }

    .wrapper{
        padding: 5px;
        max-width: 960px;
        width: 95%;
        margin: 20px auto;
        
    }
    
    .columns{

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 5px;
    }

    .coloum{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 5px 0;
    }

    
    a{
        flex-direction: column;
    }

    .north{
        position: static;
        margin-left: 400px;
        color: rgb(255, 196, 0);
    }
    
    .south{
        position: static;
        margin-left: 400px;
        color: rgb(255, 196, 0);

    }
}